<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieFlix</title>

    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/addToWatchListPopup.css">
  </head>

  <body>
    <div id="addToWatchListPopup">
      <form>
        <div id="topOfRatingForm">
          <p id="ratingInputLabel">Your Rating: </p><input type="range" min="1" max="10" value="5" id="ratingInput"></input>
        </div>
        <button id="submitRating">Add to My List</button>
        <label id="sliderValue">5</label>
      </form>
    </div>

    <script src="../static/addToWatchListPopup.js"></script>

  </body>
</html>