<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MovieFlix</title>
        <link rel="stylesheet" href="{{ url_for('static', filename ='style.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='trending-carousel.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='modal.css') }}">
    </head>

    <body>
        <header>
          <div id="web-name">MovieFlix</div>

            <div id="searchItems">
              <form action="/search" method="POST" id="search-bar">
                  <input type="text" id="query" name="query" placeholder="Enter a search" required style="width: 500px;">

                  <select id="category" name="category">
                      <option value="movie">Movie</option>
                      <option value="tv">TV Show</option>
                      <option value="person">Person</option>
                  </select>

                  <button type="submit" id="searchButton">Search</button>
              </form>
            </div>

            <div class="is-flex">
                <button class="signin header-buttons" id="signin-header">Sign In</button>
            </div>
           
            
        </header>

        <!-- Trending Movie Carousel -->
        <br><br>
        <center><h3>Trending Movies this Week</h3></center>
        <br>
        <div id="trendingContainer">
          <button id="carouselLeftButton"><b><</b></button>
          <div id="trendingCarousel">
            <a href="{{ url_for('movie', movie_id=movieIds[0])}}"><div id="trend1" class="trendElement">{{posterUrls}}</div></a>
            <a href="{{ url_for('movie', movie_id=movieIds[1])}}"><div id="trend2" class="trendElement"></div></a>
            <a href="{{ url_for('movie', movie_id=movieIds[2])}}"><div id="trend3" class="trendElement"></div></a>
            <a href="{{ url_for('movie', movie_id=movieIds[3])}}"><div id="trend4" class="trendElement"></div></a>
            <a href="{{ url_for('movie', movie_id=movieIds[4])}}"><div id="trend5" class="trendElement"></div></a>
            <a href="{{ url_for('movie', movie_id=movieIds[5])}}"><div id="trend6" class="trendElement"></div></a>
            <a href="{{ url_for('movie', movie_id=movieIds[6])}}"><div id="trend7" class="trendElement"></div></a>
            <a href="{{ url_for('movie', movie_id=movieIds[7])}}"><div id="trend8" class="trendElement"></div></a>
            <a href="{{ url_for('movie', movie_id=movieIds[8])}}"><div id="trend9" class="trendElement"></div></a>
          </div>
          <button id="carouselRightButton"><b>></b></button>
        </div>
        
        <br><br><br>
        <!-- Section with Top Rated & What's New Section-->
        <div class="is-flex">
            <div class="stacked-flex" id="top-rated">
                <h3>Highly Rated Movie this Week</h3>
                <a href="{{ url_for('movie', movie_id=topRated[0].id)}}"><div class="movieElementBottom"><img src="{{topRatedPoster}}" alt="" id="topRated"></div></a>
            </div>
            
            <div class="stacked-flex" id="whats-new">
                <h3>What's New?</h3> 
                <a href="{{ url_for('movie', movie_id=latest.id)}}"><div class="movieElementBottom"><img src="{{latestPoster}}" alt="" id="latest"></div></a>
            </div>
        </div>

        <br><br>

        <center><h3>Already a user or new to the site?</h3></center>
        <center><div id="signin-or-up">
            <button class="signin lower lower-buttons" id="loginButton2">Sign in</button>
            or 
            <button class="signup lower lower-buttons" id="createAccountButton">Sign up</button>
        </div></center>

        
        <!-- THESE DON'T APPEAR ON THE PAGE -->
        <!-- Create Login Modal -->
        <div id="loginModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <h1>Login to MovieFlix</h1>
            <!-- This input tag will need to be integrated to the backend-->
            <center><p><span class="label">Username:</span><input placeholder="Enter username or email" id="loginUsernameField" required></input></p></center>
             
            <center><p ><span class="label">Password:</span> <input placeholder="Enter password" id="loginPasswordField" type="password" required></input></p></center>
            
            <br>

            <center><button id="loginFormSubmit">Login</button></center>
            <!-- Placeholder for login messages-->
            <div id ="loginMessage" style="text-align: center; margin-top: 10px;"></div>
          </div>
        </div>
        
        <!-- Create Account Modal -->
        <div id="createAccountModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <h1>Create a MovieFlix Account</h1>
            <div id="inputAssembly">
              <div id="labels">
                <p><span class="label">Email:</span></p>
                <p><span class="label">Username:</span></p>
                <p><span class="label">Password:</span></p>
                <p><span class="label">Confirm Password:</span></p>
              </div>
              
              <span id="createAccountInput">
                <p><input type="email" placeholder="Enter an email" id="signupEmailField"></input></p>
                <p><input placeholder="Enter a username" id="signupUsernameField" type="username"></input></p>
                <p><input placeholder="Enter a password" id="signupPasswordField" type="password"></input></p>
                <p><input placeholder="Confirm password" id="signupConfirmPasswordField" type="password"></input></p>
              </span>
            </div>

            <br>

            <center><button id="signupFormSubmit">Create Account</button>
            <!-- Placeholder for signup messages-->
            <div id ="signupMessage" style="text-align: center; margin-top: 10px;"></div>
          </div>
        </div>
        
        <br>
        <footer>
          <p>&copy; BlueCircuit 2025</p>
        </footer>

        <script src="{{ url_for('static', filename='trending-carousel.js') }}"></script>
        <script src="{{ url_for('static', filename='modal.js') }}"></script>
    </body>
</html>
