<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/modal.css">
</head>
<body>

<h2>Login/Create Account Prototype</h2>

<!-- open the modals, put this in replacement of the current  -->
<button id="loginButton">Login</button>
<button id="createAccountButton">Create Account</button>

<!-- login modal -->
<div id="loginModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1>Login To MovieFlix</h1>
    <!-- This input tag will need to be integrated to the backend-->
    <p>Username:</p>
    <input></input> 
    <p>Password:</p>
    <input></input>
    <button>Login</button>
  </div>
</div>

<!-- create account modal -->
<div id="createAccountModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1>Create An Account With MovieFlix</h1>
    <p>Email</p>
    <input></input>
    <p>Username:</p>
    <input></input>
    <p>Create password:</p>
    <input></input>
    <p>Confirm Password:</p>
    <input></input>
    <button>Create Account</button> 
  </div>
</div>

<script src="../static/modal.js"></script>

</body>
</html>