<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MovieFlix</title>
        <link rel="stylesheet" href="{{ url_for('static', filename ='style.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='moviepagestyle.css')}}">
    </head>

    <body>
      <header>
        <div id="web-name"><a href="{{ url_for('home')}}">MovieFlix</a></div>

          <div id="searchItems">
            <form action="/search" method="POST" id="search-bar">
                <input type="text" id="query" name="query" placeholder="Enter a search" required style="width: 500px;">

                <select id="category" name="category">
                    <option value="movie">Movie</option>
                    <option value="tv">TV Show</option>
                    <option value="person">Person</option>
                </select>

                <button type="submit" id="searchButton">Search</button>
            </form>
          </div>

          <div class="is-flex">
              <button class="signin header-buttons" id="signin-header">Sign In</button>
          </div>
         
          
      </header>
        
      <div class="is-flex">
        <div class="movie-poster"><img src="{{ posterUrl }}" alt="{{ title }}"></div>
        <div id="movie-info">

          <div class="is-flex spaced-between title-rating">
            <h1 class="movie-title">{{ title }}</h1>

            <div class="rating-container">
              {% set ringColor = '#00ff88' if rating >= 70 else '#ffaa00' if rating >= 50 else '#ff4444' %}
              <div id="rating-circle" 
                style="border-color: {{ ringColor }}; 
                      background: conic-gradient({{ ringColor }} {{ rating }}%, #444444 {{ rating }}%);">
                  <span>{{ rating }}%</span>
              </div>
              <p id="rating-count">Based on {{ ratingCount }} ratings</p>
            </div>
          </div>

          <div class="is-flex spaced-between">
            <div class="genre">{{ genres | join(', ') }}</div>
          </div>

          <br>

          <br>
          
          <div class="info">
            <p>Release Date: {{ releaseDate if releaseDate else "Unknown" }}</p>
            <br>
            <p>Runtime: {{ runtime if runtime else "Unknown"}} minutes</p>
            <br>
            <p>Director: {{ director if director else "Unknown"}}</p>
            <br>
            <p>Cast: 
              {% for member in cast %}
                <a href="{{ url_for('person', person_id=member.id) }}">{{ member.name }}</a>{% if not loop.last %}, {% endif %}
              {% endfor %}
            </p>
            <br>
            <p>Synopsis: {{ synopsis or "N/A"}}</p>
          </div>
            
        </div>
      </div>
      
      <br>
      <footer>
        <p>&copy; BlueCircuit 2025</p>
      </footer>

    </body>
</html>