<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MovieFlix</title>
        <link rel="stylesheet" href="{{ url_for('static', filename ='style.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='moviepagestyle.css')}}">
    </head>

    <body>
      <header>
        <div id="web-name"><a href="{{ url_for('home')}}">MovieFlix</a></div>

          <div id="searchItems">
            <form action="/search" method="POST" id="search-bar">
                <input type="text" id="query" name="query" placeholder="Enter a search" required style="width: 500px;">

                <select id="category" name="category">
                    <option value="movie">Movie</option>
                    <option value="tv">TV Show</option>
                    <option value="person">Person</option>
                </select>

                <button type="submit" id="searchButton">Search</button>
            </form>
          </div>

          <div class="is-flex">
              <button class="signin header-buttons" id="signin-header">Sign In</button>
          </div>
         
          
      </header>
        
      <div class="is-flex">
        <div class="movie-poster"><img src="{{ posterUrl }}" alt="{{ title }}"></div>
        <div id="movie-info">

          <h1 class="movie-title">{{ name }}</h1>
        
          <br>

          <div class="is-flex spaced-between">
            <div class="genre">{{ occupation }}</div>
          </div>

          <br>
          
          <div class="">
            <p>Born: {{ birthDate if birthDate else "Unknown" }}</p>
            <br>
            <p>Known for: {{ knownFor | join(', ')}}</p>
            <br>
            <p>About: {{ biography or "No information available"}}</p>
          </div>
            
        </div>
      </div>

    </body>
</html>