<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MovieFlix</title>
        <link rel="stylesheet" href="{{ url_for('static', filename ='style.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='moviepagestyle.css')}}">
    </head>

    <body>
      <header>
        <div id="web-name"><a href="{{ url_for('home')}}">MovieFlix</a></div>

          <div id="searchItems">
            <form action="/search" method="POST" id="search-bar">
                <input type="text" id="query" name="query" placeholder="Enter a search" required style="width: 500px;">

                <select id="category" name="category">
                    <option value="movie">Movie</option>
                    <option value="tv">TV Show</option>
                    <option value="person">Person</option>
                </select>

                <button type="submit" id="searchButton">Search</button>
            </form>
          </div>
    
      </header>
        
      <div class="is-flex">
        <div class="movie-poster"><img src="{{ posterUrl }}" alt="{{ title }}"></div>
        <div id="movie-info">

          <h1 class="movie-title">{{ title }}</h1>
        
          <br>

          <div class="is-flex spaced-between">
            <div class="genre">{{ genres | join(', ') }}</div>
          </div>

          <br>
          
          <div class="">
            <p>First Air Date: {{ firstAirDate if firstAirDate else "Unknown" }}</p>
            <br>
            <p>Creator: {{ creator if creator else "Unknown"}}</p>
            <br>
            <p>Cast: 
              {% for member in cast %}
                <a href="{{ url_for('person', person_id=member.id) }}">{{ member.name }}</a>{% if not loop.last %}, {% endif %}
              {% endfor %}
            </p>
            <br>
            <p>Synopsis: {{ synopsis or "N/A"}}</p>
          </div>
            
        </div>
      </div>

      <br>
      <footer>
        <p>&copy; BlueCircuit 2025</p>
      </footer>

    </body>
</html>