*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#trendingContainer{
  /* Container holding the image carousel and its buttons */
  justify-content: center;
  display:flex;
  width:136vh;
  margin-left:auto;
  margin-right:auto;
}
#trendingCarousel{
  /* Container for the trending movie carousel */
  width:130vh;
  height:60vh; /*90 and 43*/
  margin-left:auto;
  margin-right:auto;
  padding-top:2.5vh;
  display:flex;
  overflow:hidden;
  scroll-behavior:smooth;
  scroll-snap-type:x mandatory;

  -ms-overflow-style:none;
  scrollbar-width:none;
}
#trendingCarousel::-webkit-scrollbar {
  /* Another way to remove the scrollbar from the image carousel for certain browsers */
  display:none;
}

#carouselLeftButton{
  /* Left button for the trending movie carousel */
  width:5vh;
  height:5vh;
  margin-top:25vh; /*orginal: 18*/
  border-radius: 50%;
  border: none;
  background-color: rgba(178, 34, 34, 0.5);
  color: #0A0A0A;
}
#carouselRightButton{
  /* Right button for the trending movie carousel */
  width:5vh;
  height:5vh;
  margin-top:25vh;
  border-radius: 50%;
  background-color: rgba(178, 34, 34, 0.5);
  color: #0A0A0A;
  border: none;
}

#carouselRightButton:hover{
  /* Right button hover for the trending movie carousel */
  background-color: #B22222;
  color: white;
}

#carouselLeftButton:hover{
  /* Left button hover for the trending movie carousel */
  background-color: #B22222;
  color: white;
}

.trendElement{
  /* Each movie card that exists within the trending movie carousel */
  background:white;
  width:37vh;  
  height:55vh; /*original: 25 37.5*/
  scroll-snap-type:center;
  margin-left:2.5vh;
  margin-right:2.5vh;
  flex-basis:100%;
}
.trendElement img{
  /* Styles the image to fit within the its div container */
  width:37vh;
  height:55vh; /*original: 25 37.5*/
  scroll-snap-type:center;
  transition: transform 0.3s ease;
}
.trendElement img:hover{
  /* Makes the image grow a little when the mouse hovers over it */
  transform:scale(1.05);
}