*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#trendingContainer{
  justify-content: center;
  display:flex;
  width:98vh;
  margin-left:auto;
  margin-right:auto;
}
#trendingCarousel{
  /* Container for the trending movie carousel */
  width:90vh;
  height:43vh;
  margin-left:auto;
  margin-right:auto;
  padding-top:2.5vh;
  display:flex;
  overflow:hidden;
  scroll-behavior:smooth;
  scroll-snap-type:x mandatory;

  -ms-overflow-style:none;
  scrollbar-width:none;
}
#trendingCarousel::-webkit-scrollbar {
  display:none;
}

#carouselLeftButton{
  /* Left button for the trending movie carousel */
  width:3vh;
  height:3vh;
  margin-top:15vh;
}
#carouselRightButton{
  /* Right button for the trending movie carousel */
  width:3vh;
  height:3vh;
  margin-top:15vh;
}

.trendElement{
  /* Each movie card that exists within the trending movie carousel */
  background:white;
  width:25vh;
  height:37.5vh;
  scroll-snap-type:center;
  margin-left:2.5vh;
  margin-right:2.5vh;
  flex-basis:100%;
}
.trendElement img{
  width:25vh;
  height:37.5vh;
  scroll-snap-type:center;
  transition: transform 0.3s ease;
}
.trendElement img:hover{
  transform:scale(1.05);
}